/*
section for the card
card inside a div
divs for the content sections
bottom-most div, you choose id, but it will hold the stat colors
*/

body {
  background-color: black;
  color: black;
  section {
    background-color: tan;
    div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      div {
        display: flex;
        flex-direction: row;
      }
      .types {
        display: flex;
        flex-direction: row;
      }
      .types,
      .abilities,
      .stats,
      .smaller {
        div {
          min-width: 12.5%;
        }
      }
      .smaller {
        div {
          background-color: white;
        }
      }
    }
  }
}
img {
  display: flex;
  max-width: 50vmin;
  max-height: 50vmin;
  align-items: center;
  justify-content: center;
  text-align: center;
}
